*{
    margin: 0;
    padding: 0; 
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;

}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCA4A6; 
    background-image: url('about1.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 25px;
    position: relative;
    right: 152px;
    bottom: 180px;
    overflow: hidden;
}

.about-section{
    
     
     overflow: hidden;
     padding: 100px 0;
     
}
.inner-container {
    width: 55%;
    float: right;
    padding: 50px;
    
}
h1{
    position: relative;
    left: 250px;  
    color:white;
    font-size: 45px;  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    top: 130px;
    
}
.text{
    font-size: 25px;
    color: crimson;
    line-height: 30px; 
    font-family:cursive;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    top: 190px;
    left: 125px;

}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 23px;
    position: relative;
    top: 250px;
    left: 125px;
    border-bottom: 4px solid crimson;
}
h2{
    position: relative;
    right: 880px;
    bottom: 50px;
    font-size: 39px;
}